header{
    height: 100vh;
}
h1, h2{
    text-align: center;
    font-size: 4rem;
    letter-spacing: 0.2rem;
    margin: 0;
    color: #210002;
}
h1{
    font-family: 'Rajdhani-light';
}
h2{
    font-family: 'Rajdhani-Bold';
}
.title{
    padding-top: 4rem;
    animation: scale-in-bottom .5s ease-out both;
}
.line{
    height: 2px;
    background-color: #210002;
    width: 25%;
    margin: 15px auto;
    border-radius: 1px;
}
body{
    overflow: hidden;
    height: 200vh;
}
.parallax{
    overflow: hidden;
    scroll-behavior: smooth; 
    scrollbar-color: #e17B1B #210002;
}
::-webkit-scrollbar{
    width: 10px;
    background-color: #210002;
    z-index: 100;
}
::-webkit-scrollbar-thumb{
    background-color: #E17B1B;
    border-radius: 5px;
    box-shadow: 0 -101vh 0 100vh #E17B1B;
}

.fade_to_black{
    position: absolute;
    top: -1200vh;
    height: 1300%;
    width: 100%;
    z-index: 2;
    background: linear-gradient(transparent, #210002);
    animation: luminosity ease-in 1s both;
    overflow: hidden;
}
.parent {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 25fr 75fr;
    grid-template-rows: 11rem;
    animation: scale-in-bottom .75s ease-out both;;
}
.info{

    margin: auto;
    border: 2px solid #210002;
    width: 25vw;
    max-width: 300px;
    height: 100%;
    text-align: center;
    line-height: 4.3rem;
    box-shadow: 0 0 10px black;
    border-radius: 5px;
}
.info ul{
    margin-top: -1rem;
    padding: 0;
}
.info ul li {
    list-style-type: none; 
    font-size: 20px; 
    font-family: 'Rajdhani-Bold';  
    color: #210002;
}
.description{
    margin: auto 6rem auto -3rem;
    color: #210002;
    font-size: 20px;
    font-family: 'AverageSans-Regular';
    text-align: justify;
    line-height: 25px;
}
.grid {
    display: grid;
    grid-template-columns: 25fr 50fr 25fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.fa-compass, .fa-phone, .fa-user{
    padding-right: 10px;
}
#content{
    width: 50vw;
    margin: 5% auto;
    padding: 20px;
    font-size: 20px;
    color: #FEDCC8;
    text-align: center;
    border: 1px solid #FEDCC8;
}
.fa-chevron-down{
    position: absolute;
    top: 0;
    margin-bottom: -200px;
    height: 40px;
    opacity: 0.75;
    animation: moveY linear 3s none infinite;
    cursor: pointer;
    color: #fedcc8;
}
.space{
    position: absolute;
    top: 0;
    height: 50px;
    margin: 0;
}
.red{
    position: absolute;
    color: red;
    font-size: xx-large;
    font-family: 'Rajdhani-Bold';
    right: 10%;
    top: 20%;
}