@font-face {
    font-family:'Rajdhani-Bold' ;
    src: url(../asset/font/Rajdhani-Bold.ttf);
}
@font-face {
    font-family: 'Rajdhani-light';
    src: url(../asset/font/Rajdhani-Light.ttf);
}
header{
    height: 100vh;
    padding: 20px;
}
h1, h2{
    text-align: center;
    font-size: 5rem !important;
    font-family: 'Rajdhani-Bold';
    letter-spacing: 0.2rem;
    padding: 5px;
    text-shadow: 1px 1px 1px black;
    margin: 0 !important;
    color: #FFAF1B;
}
h1{
    font-family: 'Rajdhani-light';
}
h2{
    font-family: 'Rajdhani-Bold';
}
.line{
    height: 3px;
    background-color: #FFAF1B;
    width: 25%;
    margin: 20px auto;
    box-shadow: 1px 1px 1px black;
}
li{
    
}