<nav>
    <a class="logo"><img src="favicon.ico" alt="logo"></a>

    <a targe="_blank" class="cv">CV EN PDF</a>

    <a class="portfolio">PORTFOLIO</a>

    <a class="bomberman" target="_blank" >BOMBERMAN</a>

    <a href="https://github.com/ValentinVacher" target="_blank">
        <fa-icon 
            [icon]="githubIcon" 
            [styles]="{'cursor': 'pointer', 'height': '40px', 'margin-top': '5px', 'color': '#F9B233', 'transition': '.1s linear'}"  
            transform="grow-{{hover}}" 
            (mouseenter)="onMouseEnter()" 
            (mouseleave)="onMouseLeave()"
            (click)="onClick()">
        </fa-icon>
    </a>
</nav>