/* You can add global styles to this file, and also import other style files */
html,
body {
  background-color: #FEDCC8;
}
@font-face {
  font-family:'Rajdhani-Bold' ;
  src: url(./assets/fonts/Rajdhani-Bold.ttf);
}
@font-face {
  font-family: 'botw';
  src: url(./assets/fonts/botw.otf);
}